/* For rotating the chevron when open */
.trigger[data-state="open"] > .chevronContainer {
  transform: rotate(180deg);
}

/* For animating the content on open and close */
.content {
  overflow: hidden;
}
.content[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.content[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
