@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);
}

:root {
	--background: #000000;
	--foreground: #ffffff;
	--muted-foreground: #a1a1a1;
}

html {
	background: var(--background);
	color: var(--foreground);
}

body {
	font-family: var(--font-geist-pixel-square), monospace;
	background-color: var(--background);
	color: var(--foreground);
}

::selection {
	background: #ffffff;
	color: #000000;
}
