@import "tailwindcss";

:root {
	--background: #000000;
	--foreground: #ffffff;
}

html {
	background: var(--background);
	color: var(--foreground);
}

body {
	font-family: var(--font-geist-pixel-square), monospace;
	background-color: var(--background);
	color: var(--foreground);
}

::selection {
	background: #ffffff;
	color: #000000;
}
